<div style="margin-left: -27em;">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Configuracion de pagina de inicio</h3>


            <div class="row">
                <div class="col">
                Galeria Principal <a href="<%=admin_editar_galeria_url%>" style="text-align: right">Editar</a>
                </div>
                
            </div>
        </div>
    </div>
</div>