<div id="editgallery">
        <div style="margin-left: -27em;">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Galeria principal</h3>
            
                        <table class="table">
                            <tbody>

                                <tr v-for="image in images">
                                    <td v-if="image">
                                        <img :src="image.url" alt="" style="max-width:100px !important;">
                                    </td>
                                    <td>
                                        <div class="btn" @click="deleteImg(image.id)">Eliminar</div>
                                    </td>
                                </tr>
        
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Agregar Fotos
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Agregar Fotos</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form action="<%=admin_post_galeria_url%>" method="post" enctype="multipart/form-data">
                                    
                                    <input type="file" name="fileToUpload" id="fileToUpload">
                                    <input type="submit" value="Subir Imagen" name="submit">
                                </form>
                        </div>
                      </div>
                    </div>
        </div>    






        <div id="json" data-options="<%=@items.to_json%>"></div>
</div>



<script>
document.addEventListener("turbolinks:load", function() {
    
new Vue({
  el: '#editgallery',
  data: {
    message: 'Hello Vue!',
    images:[],
    rows:[]
  },
  created: function() {
      this.getData()
  },
  methods:{
      getData: function(){
          var json = $("#json").data("options")
          this.images = json
          console.log(json)
      },
      deleteImg:async function(id){
           var url = "<%=admin_delete_img_url%>"
          const res = await axios.post(url,{id: id}).then(function(response){
              return response.data
          })

          if(res.status ==200){
              
              this.images = []
              this.images = res.results
              console.log(JSON.stringify(this.images))
          }
      }
  }
})
});


</script>