

<%= render 'admin/partials/sidenav'%>
<div class="card">

<h1>Servicios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <%if current_user.level == 2%>
        <td>
            <%= link_to edit_admin_service_path(service), class: "right" do %>
            <i class="material-icons red-color tippy" >edit</i>
            <% end %>
          
            <%= link_to admin_service_url(service), method: :delete, data: { confirm: '¿Estas seguro de eliminar?'}, class: "right" do %>
            <i class="material-icons red-color tippy" >delete</i>
            <% end %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<a href="<%=new_admin_service_path%>" class="btn btn-primary bmd-btn-fab" style="position:fixed;bottom: 45px; right: 24px;">
    <i class="material-icons" style="padding: 15px !important">add</i>
  </a>
  
