<%= render 'admin/partials/sidenav'%>
<div class="card">
        <div class="card-body padding-largo">
    
                <div class="row">
                        <h1>Agregar Servicio</h1>
                </div>
                <div class="row">
                        <%= render 'form', service: @service %>
                </div>
                <div class="row">
                        <%= link_to 'Regresar', admin_services_path %>
                </div>
        </div>
    </div>
    

