
<%= render 'admin/partials/entradasalida'%>

<div class="card">
        <div class="card-body padding-largo">
    
                <div class="row">
                        <h1>Agregar Salida</h1>
                </div>
                <div class="row">
                        <%= render 'form', salida: @entrada %>
                </div>
                <div class="row">
                        <%= link_to 'Regresar', admin_salidas_path %>
                </div>
        </div>
    </div>
    