<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salida.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @salida.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @salida.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @salida.qty %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @salida.payment %>
</p>

<%= link_to 'Edit', edit_salida_path(@salida) %> |
<%= link_to 'Back', salidas_path %>
