<%= form_with(model: [:admin,provider], local: true) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone, "Telefono" %>
    <%= form.text_field :phone , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :directin, "Direccion" %>
    <%= form.text_field :directin , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit  @action, class: 'btn btn-raised btn-primary' %>
  </div>
<% end %>
