<%= render 'admin/partials/sidenav'%>
<div class="card">
        <div class="card-body padding-largo">
    
                <div class="row">
                        <h1>Editar Proveedor</h1>
                </div>
                <div class="row">
                        <%= render 'form', provider: @provider %>
                </div>
                <div class="row">
                        <%= link_to 'Regresar', admin_providers_path %>
                </div>
        </div>
    </div>
    
