<%= render 'admin/partials/sidenav'%>
<div class="card">


<h1>Proveedores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.directin %></td>
        <td><%= provider.email %></td>
        <%if current_user.level == 2%>
        <td>
            <%= link_to edit_admin_provider_path(provider), class: "right" do %>
            <i class="material-icons red-color tippy" >edit</i>
            <% end %>
          
            <%= link_to admin_provider_url(provider), method: :delete, data: { confirm: '¿Estas seguro de eliminar?'}, class: "right" do %>
            <i class="material-icons red-color tippy" >delete</i>
            <% end %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<a href="<%=new_admin_provider_path%>" class="btn btn-primary bmd-btn-fab" style="position:fixed;bottom: 45px; right: 24px;">
    <i class="material-icons" style="padding: 15px !important">add</i>
  </a>