<div id="homepage">
    <nav class="">
        <div class="row">
            <a data-scroll href="#about" id="acerca" class="col nav-item">Acerca</a>
            <a data-scroll href="#projects"  class="col nav-item">Proyectos</a>
            <a href="" class="col nav-item"><%= image_tag("logohorizontal.jpg", style: 'max-width:250px;margin-top: -15px')%></a>
            <a data-scroll href="#services" class="col nav-item">Servicios</a>
            <a data-scroll href="#contact"class="col nav-item">Contacto</a>
        </div>
    </nav>
    <section id="home"   >
            <div id="gal" style="min-width:1000px; min-height: 600px;" data-simple-slider>
                <%@images.each do |imge|%>
                    <img style="width:100%" src="<%=imge.img.service_url%>"/>
                <%end%>
            </div>
            
    </section>
    <section id="about">
        <h3 class="title">Acerca de</h3>
        <div class="container" style="margin-top:3em;">
        
            <div class="row" style="margin-top:10em">
                    <div class="col">
                            <div class="row">
                                
                                <div class="col">
                                    <p class="desc">
                                        Quintal Arquitectura nace en 2011, con el firme proposito de ofrecer en forma practica y eficiente, una alternativa de solución a las necesidades derivadas del desarrollo de proyectos arquitectónicos, proyectos ejecutivos y construcción en general. 
                                        Nuestro trabajo es desarrollado bajo estandares de excelencia y responsabilidad, comprometidos siempre a trabajar demostrando un alto nivel de control durante el desarrollo de nuestros proyectos, lo que permite obtener los mejores resultados y garantizar la mas alta calidad en los productos y servicios que ofrecemos a nuestros clientes. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        
            </div>
        </div>
    </section>
    <section id="projects">
        <h3 class="title">
            Proyectos
        </h3>
        <div class="container">
                <div class="projects">
                        
                                
           
                    <%=image_tag("p1.jpg", class: 'image')%>
                                          
                    <%=image_tag("p2.jpg", class: 'image')%>
            
                    <%=image_tag("p3.jpg", class: 'image')%>
            
                    <%=image_tag("p4.jpg", class: 'image')%>
            
                    <%=image_tag("p5.jpg", class: 'image')%>
            
                    <%=image_tag("p6.jpg", class: 'image')%>
                                
                        
      
                </div>
        </div>
    </section>
    <section id="services">
        <h3 class="title">
            Servicios
            
        </h3>
        <div class="services">
            <div class="category">
                <h4 class="title">
                    Construcción
                </h4>
                <ul>
                    <li>Construcción en general.</li>
                    <li>Reparaciones</li>
                    <li>Mantenimiento</li>
                    <li>Dirección y supervisión de obra. </li>
                </ul>
            </div>
    
            <div class="category">
                <h4 class="title">
                    Proyecto
                </h4>
                <ul>
                    <li>Elaboración y diseño.</li>
                    <li>Elaboracion de planos</li>
                    <li>Elaboracion de maquetas</li>
                    <li>Renders</li>
                </ul>
            </div>
    
    
            <div class="category">
                <h4 class="title">
                    Consultoria
                </h4>
                <ul>
                    <li>Asesoria.</li>
                    <li>Consultoria especializada</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="contact">
        <h3 class="title">Contacto</h3>
        <div class="map">
            <div id="map"></div>
    
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align:center" > Telefono: 618 455 2824</p>
            </div>
        </div>
        <div class="row">
           <div class="col">
                <p style="text-align:center" > Alberto Terrones 309-E, Planta alta. Zona Centro. Durango, Dgo., México. C.P. 34000</p>
           </div>
        </div>
        <div class="form">
            <h4>Madanos un correo</h4>
            <div class="row">
                <div class="col" style="padding:1.2em">
                    <input type="text" class="form-control" placeholder="NOMBRE" class="input-control">
                </div>
                
                <div class="col" style="padding:1.2em">
                    <input type="email" class="form-control" placeholder="CORREO">
                </div>
            </div>
            <div class="row">
                <textarea name="" id="" ></textarea>
            </div>
            <div class="btn-holder">
                <button class="btn">Enviar Mail</button>
            </div>
        </div>
    </section>
    
</div>


<div id="mobile">
    
    <div class="mobile-container">

        <!-- Top Navigation Menu -->
        <div class="topnav">
            <a href="" class="active"><%= image_tag("logohorizontal.jpg", style: 'max-width:70px')%></a>
          <div id="myLinks">
                <a data-scroll href="#about" id="acerca" class="col nav-item">Acerca</a>
                <a data-scroll href="#projects"  class="col nav-item">Proyectos</a>
                
                <a data-scroll href="#services" class="col nav-item">Servicios</a>
                <a data-scroll href="#contact"class="col nav-item">Contacto</a>
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <section id="home"   >
                <div id="gal" style="width:480px; min-height: 300px;" data-simple-slider>
                    <%@images.each do |imge|%>
                        <img style="width:100%" src="<%=imge.img.service_url%>"/>
                    <%end%>
                </div>
                
        </section>
        <section class="about">
                <h3 class="title">Acerca de</h3>
                <div class="container" >
                
                    <div class="row" >
                            <div class="col">
                                    <div class="row">
                                        
                                        <div class="col">
                                            <p class="desc">
                                                Quintal Arquitectura nace en 2011, con el firme proposito de ofrecer en forma practica y eficiente, una alternativa de solución a las necesidades derivadas del desarrollo de proyectos arquitectónicos, proyectos ejecutivos y construcción en general. 
                                                Nuestro trabajo es desarrollado bajo estandares de excelencia y responsabilidad, comprometidos siempre a trabajar demostrando un alto nivel de control durante el desarrollo de nuestros proyectos, lo que permite obtener los mejores resultados y garantizar la mas alta calidad en los productos y servicios que ofrecemos a nuestros clientes. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                    </div>
                </div>
            </section>
            <section id="projects">
                <h3 class="title">
                    Proyectos
                </h3>
                <div class="container">
                        <div class="projects">
                                
                                        
                                          
                                                <%=image_tag("p1.jpg", class: 'image')%>
                                          
                                                <%=image_tag("p2.jpg", class: 'image')%>
                                        
                                                <%=image_tag("p3.jpg", class: 'image')%>
                                        
                                                <%=image_tag("p4.jpg", class: 'image')%>
                                        
                                                <%=image_tag("p5.jpg", class: 'image')%>
                                        
                                                <%=image_tag("p6.jpg", class: 'image')%>
                                        
                                
              
                        </div>
                </div>
            </section>
            <section id="services">
                <h3 class="title">
                    Servicios
                    
                </h3>
                <div class="services">
                    <div class="category">
                        <h4 class="title">
                            Construcción
                        </h4>
                        <ul>
                            <li>Construcción en general.</li>
                            <li>Reparaciones</li>
                            <li>Mantenimiento</li>
                            <li>Dirección y supervisión de obra. </li>
                        </ul>
                    </div>
            
                    <div class="category">
                        <h4 class="title">
                            Proyecto
                        </h4>
                        <ul>
                            <li>Elaboración y diseño.</li>
                            <li>Elaboracion de planos</li>
                            <li>Elaboracion de maquetas</li>
                            <li>Renders</li>
                        </ul>
                    </div>
            
            
                    <div class="category">
                        <h4 class="title">
                            Consultoria
                        </h4>
                        <ul>
                            <li>Asesoria.</li>
                            <li>Consultoria especializada</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="contact">
                <h3 class="title">Contacto</h3>
                <div class="map">
                    <div id="map"></div>
            
                </div>
                <div class="row">
                    <div class="col">
                        <p style="text-align:center" > Telefono: 618 455 2824</p>
                    </div>
                </div>
                <div class="row">
                   <div class="col">
                        <p style="text-align:center" > Alberto Terrones 309-E, Planta alta. Zona Centro. Durango, Dgo., México. C.P. 34000</p>
                   </div>
                </div>
                <div class="form">
                    <h4>Madanos un correo</h4>
                    <div class="row">
                        <div class="col" style="padding:1.2em">
                            <input type="text" class="form-control" placeholder="NOMBRE" class="input-control">
                        </div>
                        
                        <div class="col" style="padding:1.2em">
                            <input type="email" class="form-control" placeholder="CORREO">
                        </div>
                    </div>
                    <div class="row">
                        <textarea name="" id="" ></textarea>
                    </div>
                    <div class="btn-holder">
                        <button class="btn">Enviar Mail</button>
                    </div>
                </div>
            </section>
            
        
</div>

<script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
</script>