<%= form_with(model: [:admin,project], local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre"%>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description , "Descripcion  "%>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :aqr, "Encargado" %>
    <%= form.text_field :aqr , class: "form-control" %>
  </div>
  <div class="form-group" style="margin-top:1.2em;">
    <%= form.submit @action, class: 'btn btn-raised btn-primary' %>
  </div>
<% end %>
