<%= render 'admin/partials/sidenav'%>
<div class="card">

<h1>Proyectos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <%if current_user.level == 2%>
        <td>
            <%= link_to edit_admin_project_path(project), class: "right" do %>
            <i class="material-icons red-color tippy" >edit</i>
            <% end %>
          
            <%= link_to admin_project_path(project), method: :delete, data: { confirm: '¿Estas seguro de eliminar?'}, class: "right" do %>
            <i class="material-icons red-color tippy" >delete</i>
            <% end %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<a href="<%=new_admin_project_path%>" class="btn btn-primary bmd-btn-fab" style="position:fixed;bottom: 45px; right: 24px;">
    <i class="material-icons" style="padding: 15px !important">add</i>
  </a>