<%= render 'admin/partials/sidenav'%>
<div class="card">
    <div class="card-body padding-largo">

            <div class="row">
                    <h1>Agregar Proyecto</h1>
            </div>
            <div class="row">
                    <%= render 'form', project: @project %>
            </div>
            <div class="row">
                    <%= link_to 'Regresar', admin_projects_path %>
            </div>
    </div>
</div>






