<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, "Descripcion" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :art, "Encargado" %>
    <%= form.text_field :arq %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
