<div class="card">
  <div class="card-body">
      <h2 class="card-title">Iniciar Sesion</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label :password, "Contraseña" %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="form-group">
          <%= f.submit "Ingresar", class: 'btn btn-raised btn-primary' %>
        </div>
      <% end %>
      
  </div>
</div>

