<!-- 

<ul class="sidenav-custom" style="position: fixed !important;
top: 65px;
left: 0;
width: 350px;
height: 100%;
background-color: rgb(17, 0, 255) !important;">
    <li  style="list-style: none !important;
    padding: 20px">      
      <a href="<%=admin_products_path%>" style="color: white; text-decoration:none; font-size: 18px"><i class="material-icons">inbox</i>Catalogo de Productos</a>
    </li>

    <li  style="list-style: none !important;
    padding: 20px">      
        <a href="<%=admin_services_path%>" style="color: white; text-decoration:none; font-size: 18px"><i class="material-icons">inbox</i>Catalogo de Servicios</a>
    </li>

    <li  style="list-style: none !important;
    padding: 20px">      
        <a href="<%=admin_providers_path%>" style="color: white; text-decoration:none; font-size: 18px"><i class="material-icons">inbox</i>Catalogo de Proveedores</a>
    </li>

    <li  style="list-style: none !important;
    padding: 20px">  
        <a href="<%=admin_projects_path%>" style="color: white; text-decoration:none; font-size: 18px"><i class="material-icons">inbox</i>Catalogo de Proyectos</a>
    </li>
</ul> -->


<div id="mySidenav" class="sidenav">
    <a href="<%=admin_products_path%>" >Catalogo de Productos</a>
    <a href="<%=admin_services_path%>" >Catalogo de Servicios</a>
    <a href="<%=admin_providers_path%>" >Catalogo de Proveedores</a>
    <a href="<%=admin_projects_path%>" >Catalogo de Proyectos</a>
  </div>