<div id="app">
    <div style="margin-left: -27em;">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Reportes
                </div>
                <div class="row">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="report in reports">
                                <td>{{report.fecha}}</td>
                                <td style="text-align: rigth">
                                    <div class="btn" @click="openReport(report.datos)">
                                        <i class="material-icons">print</i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>


    <div class="modal fade" id="printer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Detalles des Reporte</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="printMe">
                        <div class="col">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr v-for="product in repor.products">
                                                
                                              <td>{{product.name}}</td>
                                              <td>{{product.qty}}</td>
                                              <td>{{product.price}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  
                  <button type="button" class="btn btn-primary" @click="printTickt()">Imprimir Reporte</button>
                </div>
              </div>
            </div>
          </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Generar Reporte</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr v-for="product in products">
                                            
                                          <td>{{product.name}}</td>
                                          <td>{{product.qty}}</td>
                                          <td>{{product.price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-primary" @click="saveReport()">Guardar Reporte</button>
            </div>
          </div>
        </div>
      </div>

    <div id="json" data-options="<%=@reports.to_json%>"></div>
      <div id="products" data-options="<%=@products.to_json%>"></div>



    <a data-toggle="modal" data-target="#exampleModal" class="btn btn-primary bmd-btn-fab" style="position:fixed;bottom: 45px; right: 24px;">
        <i class="material-icons" style="padding: 15px !important">add</i>
    </a>
      
</div>


<script>
document.addEventListener("turbolinks:load", function() {
    console.log("wndv")
    new Vue({
        el: '#app',
        data:{
            reports:[],
            products:[],
            repor:{}
        }, 
        created: function(){
            this.setData()
        },
        methods:{
            setData: function(){
                var json = $("#json").data("options")
                this.reports = json;
                var p = $("#products").data("options")
                console.log(JSON.stringify(p))
                this.products = p
                console.log("lkdnnw")
            },
            openModal: function(){
                $("#exampleModal").modal("open")
            },
            saveReport: async function(){
                var url = "<%=admin_reports_save_url%>"
                var datos = this.products
                const res = await axios.post(url,{datos}).then(function(response){
                    return response.data
                })

                if (res.status == 200){
                    this.reports.push(res.results)
                    $("#exampleModal").modal("hide")
                }
            },
            openReport: function(item){
                this.repor = JSON.parse(item)
                $("#printer").modal("show")
                console.log(JSON.stringify(this.repor))

            },
            printTickt: function(){
                var elem = document.getElementById("printMe");
                var domClone = elem.cloneNode(true);
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                $printSection.appendChild(domClone);
                document.body.insertBefore($printSection, document.body.firstChild);

                window.print(); 

                // Clean up print section for future use
                var oldElem = document.getElementById("printSection");
                if (oldElem != null) { oldElem.parentNode.removeChild(oldElem); } 
                                    //oldElem.remove() not supported by IE

            }
        }
    });
})
</script>