<%= form_with(model: [:admin,product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Descripcion" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sku, "SKU" %>
    <%= form.text_field :sku, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :price, "Precio" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :qty, "Existencia" %>
    <%= form.text_field :qty, class: "form-control" %>
  </div>
  <div class="form-group">
    <select class="custom-select" name="product[provider_id]">
    <option selected>Seleccionar Proveedor</option>
    <%Provider.all.each do |provider|%>
      <option value="<%=provider.id%>"><%=provider.name%></option>
    <%end%>
  </select>
  </div>
  <div class="form-group">
    <%= form.submit @action, class: 'btn btn-raised btn-primary' %>
  </div>
<% end %>
