<%= render 'admin/partials/sidenav'%>
<div class="card">
    <div class="card-body padding-largo">

            <div class="row">
                    <h1>Editar Producto</h1>
            </div>
            <div class="row">
                    <%= render 'form', product: @product %>
            </div>
            <div class="row">
                    <%= link_to 'Regresar', admin_products_path %>
            </div>
    </div>
</div>
