<%= form_with(model: [:admin,@entrada], local: true) do |form| %>


  <div class="form-group">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name , class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :description, "descripcion" %>
    <%= form.text_field :description, class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :price , "Precio"%>
    <%= form.text_field :price , class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :qty, "Cantidad" %>
    <%= form.text_field :qty , class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :payment, "Tipo de Pago"%>
    <%= form.text_field :payment , class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
