<%= render 'admin/partials/entradasalida'%>
<div class="card">

    <h1>Entradas</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Pago</th>
          <th>Precio</th>
          
          <th>Cantidad</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @entradas.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.payment %></td>
            <td><%= product.price %></td>  
            
            <td><%=product.qty%></td>
            <%if current_user.level == 2%>
            <td>
                <%= link_to edit_admin_entrada_path(product), class: "right" do %>
                <i class="material-icons red-color tippy" >edit</i>
                <% end %>
              
                <%= link_to admin_entrada_url(product), method: :delete, data: { confirm: '¿Estas seguro de eliminar?'}, class: "right" do %>
                <i class="material-icons red-color tippy" >delete</i>
                <% end %>
            </td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>
    
</div>
<br>


<a href="<%=new_admin_salida_path%>" class="btn btn-primary bmd-btn-fab" style="position:fixed;bottom: 45px; right: 24px;">
  <i class="material-icons" style="padding: 15px !important">add</i>
</a>


