<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entrada.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entrada.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @entrada.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @entrada.qty %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @entrada.payment %>
</p>

<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
