
input { text-transform: uppercase; }
@media screen {
   #printSection {
      display: none;
   }
}

@media print {
   body > *:not(#printSection) {
      display: none;
   }
   #printSection, #printSection * {
       visibility: visible;
   }
   #printSection {
       position:absolute;
       left:0;
       top:0;
   }
}
.sidenav{
    
}


#mySidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 65px; /* Stay at the top */
    left: 0;
    background-color:#3949ab !important; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #fff !important;
        display: block;
        transition: 0.3s;
        &:hover{
            color: #000 !important; 
            background-color: white !important
        }
      }
  }
  
  