/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.card{
    padding: 1.2em !important;
}

.padding-largo{
    padding: 1.2em !important;
}

ul.sidenav-custom{
    position: fixed !important;
    top: 2em;
    left: 0;
    width: 10em;
    height: 100%;
    background-color: red !important;
}

li{
    list-style: none !important
}

@media screen {
    #printSection {
       display: none;
    }
 }
 
 @media print {
    body > *:not(#printSection) {
       display: none;
    }
    #printSection, #printSection * {
        visibility: visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
 }

 