// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-small: 480px;
$break-large: 1200px;

body{
    padding: 0;
    margin: 0;
    background-color: #bdbdbd !important;


    font-family: 'Raleway', sans-serif;


}
a{
    color: inherit !important;
    text-decoration: none !important;
}
.desc{
    font-size: 20px
}
#homepage{
    @media screen and (max-width: $break-small) {
        display: none !important;
        background-color: red !important
        
    }
    section{
        min-height: 50em;
        // -webkit-box-shadow: 10px 10px 51px -24px rgba(0,0,0,0.75);
        // -moz-box-shadow: 10px 10px 51px -24px rgba(0,0,0,0.75);
        // box-shadow: 10px 10px 51px -24px rgba(0,0,0,0.75);
    }
    nav{
        background-color: white !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 100px;
        width: 90% !important;
        margin: 0 auto;
        text-align: center;
        background-color: white;
       .nav-item{
           padding: 1.2em;
           text-align: center;
           font-size: 20px;
           text-transform: uppercase;
           
       }
      
        
    }
    #home{
        background-color: white !important;
        #titulo{
            text-align: center;
            position: relative;
            top: -500px;
            z-index: 300000000
        }
        width: 90%;
        margin: 0 auto;
        min-height: 20em;
        
        position: relative;
        top: 100px;
        .title{
            text-align: center
        }
        .outer {
            display: table;
            position: absolute;
            height: 100%;
            width: 100%;
          }
          
          .middle {
            display: table-cell;
            vertical-align: middle;
          }
          
          .inner {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            /*whatever width you want*/
          }
    }
    #about{
        background-color: white !important;
        width: 90%;
        margin: 0 auto;
        min-height: 50em;
        .title{
            text-align: center;
            text-transform: uppercase;
            font-size:2em;
        }
        .item{
            padding: 1.2em;
            margin-top: 5em;
        }
            .img{
                background-color: #ccc;
                width: 3em;
                height: 3em;
                padding: .6em;
            }
        
    }
    #projects{
        margin-top: 3em;
        h3.title{
            text-align: center;
            text-transform: uppercase;
            font-size:2em;text-transform: uppercase;
            font-size:2em;
        }
        .projects{
            margin-top: 5em;

                img {
                    float: left;
                    margin: 1.5em;
                    width: 300px;
                    height: 200px;border: 1px solid #ccc;
                }
            
        }
    }
    #services{
        background-color: white !important;
        width: 90%;
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: 3em;
        h3.title{
            text-align: center;
            text-transform: uppercase;
            font-size:2em;text-transform: uppercase;
            font-size:2em;
        }
        .services{
            width: 100%;
            .category{
                float: left;
                width: 30%;
                margin-left: 15px;
                padding: 1.2em;
                border: 1px solid #ccc;
                min-height: 250px;
                .title{
                    text-align: center;
                    text-transform: uppercase;        
                }
                ul{
                    margin: 0;
                    list-style: none;
                    li{
                        margin: 0;
                        font-size: 20px
                    }
                }
            }
        }
    }
    #contact{
        background-color: white !important;
        width: 90%;
        margin: 0 auto;
        h3.title{
            text-align: center;
            text-transform: uppercase;
            font-size:2em;text-transform: uppercase;
            font-size:2em;
        }
        .map{
            border: 1px solid #ccc;
            min-height: 500px;
            #map{
                height: 100%;
                width: 100%;
            }
        }
        .form{
            margin-top: 2em;
            h4{
                text-align: center;
            }
            .row{
                width: 100%;
                margin-top: 30px;
                .col{
                    float: left;
                    width: 40%;
                    margin-left: 2px;
                    .form-control{
                        border: 1px solid #ccc;
                        padding: 30px;
                        width: 85%;
                        margin: 0 auto;
                    }
                }
textarea{
    width: 90%;
    margin: auto;
    height: 150px;
    border: 1px solid #ccc
}
text-align: center;


            }
            .btn-holder{
                margin-top: 50px;
                text-align: center !important;
                .btn{
                    padding: 10px;
                    border-radius: 3px;

                }
            }
        }
    }
}

#mobile{
    display: none;
    @media screen and (max-width: $break-small) {
        display: block !important;
        background-color: red !important
        
    }


.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
    color: white;
    }

    .about{
        background-color: white !important;
        width: 99%;
        margin: 0 auto;
        min-height: 20em;
        .title{
            text-align: center;
            text-transform: uppercase;
            font-size:1.2em;
            color: black !important;
        }
        .item{
            padding: 1.2em;
        }
            .img{
                background-color: #ccc;
                width: 3em;
                height: 3em;
                padding: .6em;
            }
        .desc{
            color: #000000;
            text-align: center;
            font-size: .8em;
        }
    }

    #projects{
        margin-top: 3em;
        h3.title{
            text-align: center;
            text-transform: uppercase;
            font-size:1.2em;text-transform: uppercase;
            
        }
        .projects{
            margin-top: 5em;
            margin-left: 5%;
                img {
                    float: left;
                    margin: .5em;
                    width: 100px;
                    height: 100px;border: 1px solid #ccc;
                }
            
        }
    }

    #services{
        background-color: white !important;
        width: 90%;
        margin: 0 auto;
        margin-top: 3em !important;
        margin-bottom: 3em;
        h3.title{
            margin-top: 3em !important;
            text-align: center;
            text-transform: uppercase;
            font-size:1.2em;text-transform: uppercase;
            color: #000;
            
        }
        .services{
            width: 100%;
            color: black;
            .category{
                float: left;
                width: 90%;
                margin-left: 15px;
                padding: 16pxem;
                border: 1px solid #000000;
                min-height: 150px;
                .title{
                    text-align: center;
                    text-transform: uppercase; 
                    font-size: 16px;       
                }
                ul{
                    margin: 0;
                    list-style: none;
                    li{
                        margin-left: -30px;
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }


    #contact{
        background-color: white !important;
        width: 90%;
        margin: 0 auto;
        color: #000;
        h3.title{
            text-align: center;
            text-transform: uppercase;
            font-size:1.2em;text-transform: uppercase;
            
        }
        .map{
            border: 1px solid #ccc;
            min-height: 200px;
            #map{
                height: 100%;
                width: 100%;
            }
        }
        .form{
            margin-top: 2em;
            h4{
                text-align: center;
            }
            .row{
                width: 100%;
                margin-top: 30px;
                .col{
                    float: left;
                    width: 90%;
                    margin-left: 2px;
                    .form-control{
                        border: 1px solid #ccc;
                        padding: 16px;
                        width: 85%;
                        margin: 0 auto;
                    }
                }
textarea{
    width: 90%;
    margin: auto;
    height: 150px;
    border: 1px solid #ccc
}
text-align: center;


            }
            .btn-holder{
                margin-top: 50px;
                text-align: center !important;
                .btn{
                    padding: 10px;
                    border-radius: 3px;

                }
            }
        }
    }
}