<%= form_with(model: [:admin,user], local: true) do |form| %>
<% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password, "Contraseña" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="">Nivel de Acceso</label>
    <select name="user[level]" id="">
      <option value="1">Normal</option>
      <option value="2">Administrador</option>
    </select>
  </div>

  <div class="form-group">
    <%= form.submit @action, class: 'btn btn-raised btn-primary' %>
  </div>
<% end %>
