
<div class="card" style="margin-left:-40%">


<h1>Usuarios</h1>

<table class="table">
  <thead>
    <tr>

      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |provider| %>
      <tr>
        <td><%= provider.email %></td>
      
            <td>
                <%= link_to edit_admin_user_path(provider), class: "right" do %>
                <i class="material-icons red-color tippy" >edit</i>
                <% end %>
              
                <%= link_to admin_user_path(provider), method: :delete, data: { confirm: '¿Estas seguro de eliminar?'}, class: "right" do %>
                <i class="material-icons red-color tippy" >delete</i>
                <% end %>
            </td>
      
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<a href="<%=new_admin_user_path%>" class="btn btn-primary bmd-btn-fab" style="position:fixed;bottom: 45px; right: 24px;">
    <i class="material-icons" style="padding: 15px !important">add</i>
  </a>