
<div class="card"style="margin-left:-40%">
        <div class="card-body padding-largo">
    
                <div class="row">
                        <h1>Agregar Usuario</h1>
                </div>
                <div class="row">
                        <%= render 'form', user: @user %>
                </div>
                <div class="row">
                        <%= link_to 'Regresar', admin_users_path %>
                </div>
        </div>
    </div>
    

