<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body id="admin" style="background-color: #eceff1 !important">

    <nav>
                  <!-- primary -->
                  <ul class="nav nav-tabs" style="background-color:#1a237e; color: white !important">
                    <li class="nav-item">
                      <a class="nav-link active" href="<%=admin_root_path%>" style="color:white !important">Inicio</a>
                    </li>
                      <li class="nav-item">
                        <a href="<%=admin_pagina_inicio_url%>" class="nav-link"style="color: white !important;">Pagina de Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a href="<%=admin_entradas_url%>" class="nav-link"style="color: white !important;">Entradas/Salidas</a>
                      </li>
                      <li class="nav-item">
                          <a href="<%=admin_reportes_url%>" class="nav-link"style="color: white !important;">Reportes</a>
                        </li>
                      
                    <li class="nav-item">
                      <a class="nav-link " style="color:white !important" href="<%=admin_users_path%>">Usuarios</a>
                    </li>
                    <li class="nav-item">
                      
                      <a class="nav-link " style="color:white !important" href="<%=edit_user_registration_url%>">Cuenta</a>
                    </li>
                    <li class="nav-item">

                        <%= link_to('Cerrar Sesion', destroy_user_session_path, method: :delete, class: 'nav-link', style: 'color:white !important') %>        

                    </li>
                  </ul>
    </nav>

    
    <div class="row" style="height:100%">
        <div class="col-sm-3 sidenav" >  
            
                    
            
        </div>
        <div class="col">
          <div class="container" style="margin-top:1.2em;">
            <%=yield%>
          </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</body>
</html>