<!DOCTYPE html>
<html>
  <head>
    <title>ResidenciaWebapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <%= yield %>

    <script>
      AOS.init();


     	var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 500,
        speedAsDuration: true
      });

      $(document).ready(function() {
        $('#autoWidth').lightSlider({
            autoWidth:true,
            loop:true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            } 
        });  
      }); 
      function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}

    </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwga2S_XP-FMbh56NEG01moVORp6UeYMc&callback=initMap">
</script>

  </body>
</html>
